<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RegOnline APISoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="RegOnline APISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.regonline.com/api/default.asmx"
        binding="basicHttpBinding" bindingConfiguration="RegOnline APISoap"
        contract="RegOnlineAPIProxy.RegOnlineAPISoap" name="RegOnline APISoap" />
      <endpoint address="https://www.regonline.com/api/default.asmx"
        binding="customBinding" bindingConfiguration="RegOnline APISoap12"
        contract="RegOnlineAPIProxy.RegOnlineAPISoap" name="RegOnline APISoap12" />
    </client>
  </system.serviceModel>
</configuration>